@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  primaryColor: #f09d51;
  mainWhite: #fff;
  mainBlack: #222;
  mainGrey: #ececec;
  mainSpacing: 0.1rem;
  mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  boxsizing: borderbox;
}
body {
  color: ar(mainBlack);
  background: ar(mainWhite);
  fontfamily: "Lato", sansserif;
}
/*  Nabar  */
.nabar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  alignitems: center;
  background: rgb(231, 226, 221);
  zindex: 1;
}
.nabarcenter {
  width: 100%;
  maxwidth: 1170px;
  margin: 0 auto;
  display: flex;
  alignitems: center;
  justifycontent: spacebetween;
  padding: 0 1.5rem;
}
.naicon {
  fontsize: 1.5rem;
}
.cartbtn {
  position: relatie;
  cursor: pointer;
}
.cartitems {
  position: absolute;
  top: 8px;
  right: 8px;
  background: ar(primaryColor);
  padding: 0 5px;
  borderradius: 30%;
  color: ar(mainWhite);
}
/*  End of Nabar  */
/*  Hero  */
.hero {
  minheight: calc(100h  60px);
  background: url("./images/herobcg.jpeg") center/coer norepeat;
  display: flex;
  alignitems: center;
  justifycontent: center;
}
.banner {
  textalign: center;
  background: rgba(255, 255, 255, 0.8);
  display: inlineblock;
  padding: 2rem;
}
.bannertitle {
  fontsize: 3.4rem;
  texttransform: uppercase;
  letterspacing: ar(mainSpacing);
  marginbottom: 3rem;
}
.bannerbtn {
  padding: 1rem 3rem;
  texttransform: uppercase;
  letterspacing: ar(mainSpacing);
  fontsize: 1rem;
  background: ar(primaryColor);
  color: ar(mainBlack);
  border: 1px solid ar(primaryColor);
  transition: ar(mainTransition);
  cursor: pointer;
}
.bannerbtn:hoer {
  background: transparent;
  color: ar(primaryColor);
}
/*  End of Hero  */
/*  Products  */

.products {
  padding: 4rem 0;
}
.sectiontitle h2 {
  textalign: center;
  fontsize: 2.5rem;
  marginbottom: 5rem;
  texttransform: capitalize;
  letterspacing: ar(mainSpacing);
}
.productscenter {
  width: 90w;
  margin: 0 auto;
  maxwidth: 1170px;
  display: grid;
  gridtemplatecolumns: repeat(autofit, minmax(260px, 1fr));
  gridcolumngap: 1.5rem;
  gridrowgap: 2rem;
}
.imgcontainer {
  position: relatie;
  oerflow: hidden;
}
.bagbtn {
  position: absolute;
  top: 70%;
  right: 0;
  background: ar(primaryColor);
  border: none;
  texttransform: uppercase;
  padding: 0.5rem 0.75rem;
  letterspacing: ar(mainSpacing);
  fontweight: bold;
  transition: ar(mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bagbtn:hoer {
  color: ar(mainWhite);
}
.fashoppingcart {
  marginright: 0.5rem;
}
.imgcontainer:hoer .bagbtn {
  transform: translateX(0);
}
.productimg {
  display: block;
  width: 100%;
  minheight: 12rem;
  transition: ar(mainTransition);
}
.imgcontainer:hoer .productimg {
  opacity: 0.5;
}

.product h3 {
  texttransform: capitalize;
  fontsize: 1.1rem;
  margintop: 1rem;
  letterspacing: ar(mainSpacing);
  textalign: center;
}

.product h4 {
  margintop: 0.7rem;
  letterspacing: ar(mainSpacing);
  color: ar(primaryColor);
  textalign: center;
}

/* End of Products  */
/*  Cart  */
.cartoerlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: ar(mainTransition);
  background: rgb(240, 157, 81, 0.5);
  zindex: 2;
  isibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  oerflow: scroll;
  zindex: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: ar(mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  isibility: isible;
}
@media screen and (minwidth: 768px) {
  .cart {
    width: 30w;
    minwidth: 450px;
  }
}

.closecart {
  fontsize: 1.7rem;
  cursor: pointer;
}
.cart h2 {
  texttransform: capitalize;
  textalign: center;
  letterspacing: ar(mainSpacing);
  marginbottom: 2rem;
}
/* Cart Item  */
.cartitem {
  display: grid;
  alignitems: center;
  gridtemplatecolumns: auto 1fr auto;
  gridcolumngap: 1.5rem;
  margin: 1.5rem 0;
}
.cartitem img {
  width: 75px;
  height: 75px;
}
.cartitem h4 {
  fontsize: 0.85rem;
  texttransform: capitalize;
  letterspacing: ar(mainSpacing);
}
.cartitem h5 {
  margin: 0.5rem 0;
  letterspacing: ar(mainSpacing);
}
.itemamount {
  textalign: center;
}
.remoeitem {
  color: grey;
  cursor: pointer;
}
.facheronup,
.facherondown {
  color: ar(primaryColor);
  cursor: pointer;
}
/* End of Cart Item  */

.cartfooter {
  margintop: 2rem;
  letterspacing: ar(mainSpacing);
  textalign: center;
}
.cartfooter h3 {
  texttransform: capitalize;
  marginbottom: 1rem;
}

/*  End of Cart  */
